<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/Page-6.css') }}" media="screen">
  <div class="aligned">
    <img src="{{ url_for('static', filename='images/catbus.png') }}" width="75" alt="">
    <span>Catbus Internship List</span>
  </div>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="#contact">Contact</a>
    <a class="active" href="/about/">About</a>
    <a href="/archive/">Archive</a>
  </div>

  <body>
    <p class="u-text u-text-2">This is Catbus' project for EECS497. A list of internships are displayed on the home page. Users can use the search bar to filter internships that they want to see. They can also submit view and submit reviews and ratings by clicking on each internship. 
  </body>
</html>