{% extends "base.html" %}
{% block content %}
    <div class="content">
        <img src="/uploads/{{ pfp }}" alt="alt text">
        <span>{{ session['username'] }}</span>

        <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*"/>
            <input type="text" name="fullname" value="{{ fullname }}" required/>
            <input type="text" name="email" value="{{ email }}" required/>
            <input type="submit" name="update" value="submit"/>
            <input type="hidden" name="operation" value="edit_account"/>
        </form>

        <a href="/accounts/password/">change password</a>
        <a href="/accounts/delete/">delete account</a>
    </div>
{% endblock %}
