{% extends "base.html" %}
{% block content %}
    <div class="content">
        <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
            <input type="text" name="username" placeholder="username" required/> <br><br>
            <input type="password" name="password" placeholder="password" required/> <br><br>
            <input type="submit" value="login"/> <br><br>
            <input type="hidden" name="operation" value="login"/>
        </form>
        <a href="/accounts/create/">Create a new account</a>
    </div>
{% endblock %}
