{% extends "base.html" %}
{% block content %}
    <div class="content">
        <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
            <input type="password" name="password" placeholder="current password" required/>
            <input type="password" name="new_password1" placeholder="new password" required/>
            <input type="password" name="new_password2" placeholder="confirm new password" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
        <a href="/accounts/edit/">Back to edit account</a>
    </div>
{% endblock %}
